.rc-dropdown {
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
}
.rc-dropdown-hidden {
    display: none;
}
.rc-dropdown-menu {
    outline: none;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 2px 0 0 0;
    text-align: left;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: rgba(68, 66, 88, 0.15) 0px 0.5rem 2rem, rgba(68, 66, 88, 0.15) 0px 0px 0.0625rem;
    background-clip: padding-box;
}
.rc-dropdown-menu > li {
    margin: 0;
    padding: 0;
}
.rc-dropdown-menu:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.01);
}
.rc-dropdown-menu > .rc-dropdown-menu-item {
    position: relative;
    display: block;
    padding: 7px 10px;
    clear: both;
    font-size: 12px;
    font-weight: normal;
    color: #666666;
    white-space: nowrap;
    cursor: pointer;
}
.rc-dropdown-menu > .rc-dropdown-menu-item:hover,
.rc-dropdown-menu > .rc-dropdown-menu-item-active,
.rc-dropdown-menu > .rc-dropdown-menu-item-selected {
    background-color: rgba(241, 240, 250, 0.5);
    color: rgb(34, 33, 44);
    outline: 0px;
}
.rc-dropdown-menu > .rc-dropdown-menu-item-selected {
    position: relative;
}
.rc-dropdown-menu > .rc-dropdown-menu-item-disabled {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}
.rc-dropdown-menu > .rc-dropdown-menu-item-disabled:hover {
    color: #ccc;
    background-color: #fff;
    cursor: not-allowed;
}
.rc-dropdown-menu > .rc-dropdown-menu-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.rc-dropdown-menu > .rc-dropdown-menu-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.rc-dropdown-menu > .rc-dropdown-menu-item-divider {
    height: 1px;
    margin: 1px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    line-height: 0;
}
.rc-dropdown-slide-up-enter,
.rc-dropdown-slide-up-appear {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    transform-origin: 0 0;
    display: block !important;
    opacity: 0;
    animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
    animation-play-state: paused;
}
.rc-dropdown-slide-up-leave {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    transform-origin: 0 0;
    display: block !important;
    opacity: 1;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
    animation-play-state: paused;
}
.rc-dropdown-slide-up-enter.rc-dropdown-slide-up-enter-active.rc-dropdown-placement-bottomLeft,
.rc-dropdown-slide-up-appear.rc-dropdown-slide-up-appear-active.rc-dropdown-placement-bottomLeft,
.rc-dropdown-slide-up-enter.rc-dropdown-slide-up-enter-active.rc-dropdown-placement-bottomCenter,
.rc-dropdown-slide-up-appear.rc-dropdown-slide-up-appear-active.rc-dropdown-placement-bottomCenter,
.rc-dropdown-slide-up-enter.rc-dropdown-slide-up-enter-active.rc-dropdown-placement-bottomRight,
.rc-dropdown-slide-up-appear.rc-dropdown-slide-up-appear-active.rc-dropdown-placement-bottomRight {
    animation-name: rcDropdownSlideUpIn;
    animation-play-state: running;
}
.rc-dropdown-slide-up-enter.rc-dropdown-slide-up-enter-active.rc-dropdown-placement-topLeft,
.rc-dropdown-slide-up-appear.rc-dropdown-slide-up-appear-active.rc-dropdown-placement-topLeft,
.rc-dropdown-slide-up-enter.rc-dropdown-slide-up-enter-active.rc-dropdown-placement-topCenter,
.rc-dropdown-slide-up-appear.rc-dropdown-slide-up-appear-active.rc-dropdown-placement-topCenter,
.rc-dropdown-slide-up-enter.rc-dropdown-slide-up-enter-active.rc-dropdown-placement-topRight,
.rc-dropdown-slide-up-appear.rc-dropdown-slide-up-appear-active.rc-dropdown-placement-topRight {
    animation-name: rcDropdownSlideDownIn;
    animation-play-state: running;
}
.rc-dropdown-slide-up-leave.rc-dropdown-slide-up-leave-active.rc-dropdown-placement-bottomLeft,
.rc-dropdown-slide-up-leave.rc-dropdown-slide-up-leave-active.rc-dropdown-placement-bottomCenter,
.rc-dropdown-slide-up-leave.rc-dropdown-slide-up-leave-active.rc-dropdown-placement-bottomRight {
    animation-name: rcDropdownSlideUpOut;
    animation-play-state: running;
}
.rc-dropdown-slide-up-leave.rc-dropdown-slide-up-leave-active.rc-dropdown-placement-topLeft,
.rc-dropdown-slide-up-leave.rc-dropdown-slide-up-leave-active.rc-dropdown-placement-topCenter,
.rc-dropdown-slide-up-leave.rc-dropdown-slide-up-leave-active.rc-dropdown-placement-topRight {
    animation-name: rcDropdownSlideDownOut;
    animation-play-state: running;
}
@keyframes rcDropdownSlideUpIn {
    0% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform-origin: 0% 0%;
        transform: scaleY(1);
    }
}
@keyframes rcDropdownSlideUpOut {
    0% {
        opacity: 1;
        transform-origin: 0% 0%;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: scaleY(0);
    }
}
@keyframes rcDropdownSlideDownIn {
    0% {
        opacity: 0;
        transform-origin: 0% 100%;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform-origin: 0% 100%;
        transform: scaleY(1);
    }
}
@keyframes rcDropdownSlideDownOut {
    0% {
        opacity: 1;
        transform-origin: 0% 100%;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform-origin: 0% 100%;
        transform: scaleY(0);
    }
}
